
@media(max-width: 567px) {
    .fs9 {
        font-size: 0.88rem;
    }
    .fs10 {
        font-size: 0.95rem;
    }

    .pad {
        padding-left: 0.55rem !important;
        padding-right: 0.55rem !important;
        padding-bottom: 0.275rem !important;
        padding-top: 0.275rem !important;
    }
}
