.brand {
    padding: 0;
}
.brand:hover
{
    box-shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    border: solid 1px #0aad0a;
}

@media (max-width: 767px) {
    .maxHeight {
        height: 198px;
        width: 280px !important;
        padding: 0.5rem;
    }
}